.country-list {
  margin: 22px 0 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 19px 0 0;
  }
}

.country-list__item {
  font-family: $montserrat-regular;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
}

.country-list__label {
  position: relative;
  display: block;
  padding-left: 54px;
  padding-bottom: 21px;
  cursor: pointer;
}

.country-list__input {
  appearance: none;
}

.country-list__checkbox {
  position: absolute;
  left: 0;
  top: 0;
  width: 42px;
  height: 24px;
  background: url("/img/svg/checkbox-unchecked.svg") no-repeat 0 0;
}

/* Checked */
.country-list__input:checked + .country-list__checkbox {
  background-image: url("/img/svg/checkbox-checked.svg");
}

/* Focused */
.country-list__input:not(:checked):hover + .country-list__checkbox {
  background-image: url("/img/svg/checkbox-hover-focus.svg");
}

/* Disabled */
.country-list__input:disabled + .country-list__checkbox {
  background-image: url("/img/svg/checkbox-disabled.svg");
}

.country-list__input:not(:checked):disabled + .country-list__checkbox {
  background-image: url("/img/svg/checkbox-unchecked-disabled.svg");
}

.country-list__input:disabled ~ .country-list__text,
.country-list__input:not(:checked):disabled:hover ~ .country-list__text {
  color: $base-grey;
}
