.header {
  font-family: $montserrat-medium;
  font-size: 12px;
  line-height: 16px;
  background-color: $white;
  padding: 0 0 8px;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 1px;
  }
}
