.pagination-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    width: 394px;
    margin: 0 0 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
  }
}

.pagination-list__item {
  display: flex;
  align-items: center;
  font-family: $montserrat-regular;
  font-size: 16px;
  line-height: 24px;
  color: $base-primary;
  background-color: $white;
  text-decoration: none;
  border-radius: 4px;
  list-style: none;
  position: relative;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  &--prev {
    &::before {
      content: "";
      display: inline-block;
      border: solid $base-primary;
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: rotate(135deg);
      position: absolute;
      pointer-events: none;
      left: 47%;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &--current {
    background-color: $background-grey;
    color: $base-black;
  }

  &--next {
    &::before {
      content: "";
      display: inline-block;
      border: solid $base-primary;
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: rotate(-45deg);
      position: absolute;
      pointer-events: none;
      right: 47%;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

}

.pagination-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  padding: 5px;
  cursor: pointer;

  &--prev {
    @media (min-width: $tablet-width) {
      padding: 5px 20px;
    }
  }

  &--next {
    @media (min-width: $tablet-width) {
      padding: 5px 20px;
    }
  }

  &--current {
    cursor: auto;
  }
}

.pagination-list__link span {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
