.product-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  margin: 14px 0 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product-list__item {
  list-style: none;
}
