.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 38px;

  @media (min-width: $tablet-width) {
    margin-top: 41px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.sorting__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.sorting__text {
  font-family: $montserrat-semi-bold;
  font-size: 16px;
  line-height: 24px;
  padding-left: 4px;
}

.sorting__select {
  position: relative;
  margin-left: 9px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.sorting__values {
  display: block;
  font-family: $montserrat-semi-bold;
  font-size: 16px;
  line-height: 24px;
  color: $base-primary;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  appearance: none;
  height: 32px;
  width: 165px;
  background-image: url("/img/svg/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 87% 50%;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    padding-left: 10px;
    background-position: 94% 50%;
  }

  &:hover,
  &:focus {
    background-color: $base-secondary;
  }
}

.sorting__control {
  font-family: $montserrat-regular;
  color: $base-black;
  font-size: 16px;
  line-height: 24px;
}
